/* styling with id */
#paraId1 {
    color: purple;
    background-color: red;
    font-size: 20px;
}
/* styling with class */
.paraClass1 {
    color: blue;
    font-size: 30;
    background-color: aqua;
}

p{
    text-decoration: underline;
}
/* the grid template areas depends on the number of spannables (portions) you have, which is divided into the 12 columns in row*/
#grid_container {
    display: grid;
    grid-template-areas: 
    'a a a a a a a a a a'
    'b b c c c c c c d d'
    'e e e e e e e e e e'
    'f f g g g h h h i i'
    'j j j j j j j j j j'
    ;
}

#divNav {
    grid-area: a;
    padding: 2px;
    margin: 4px;
}

#divA {
    grid-area: b;
    padding: 2px;
    margin: 4px;
}

#divHero {
    grid-area: c;
    padding: 2px;
    margin: 4px;
}

#divB {
    grid-area: d;
    padding: 2px;
    margin: 4px;
}

#divForm {
    grid-area: e;
    padding: 2px;
    margin: 4px;
}

#divCard1 {
    grid-area: f;
    padding: 2px;
    margin: 4px;
}

#divCard2 {
    grid-area: g;
    padding: 2px;
    margin: 4px;
}

#divCard3 {
    grid-area: h;
    padding: 2px;
    margin: 4px;
}

#divCard4 {
    grid-area: i;
    padding: 2px;
    margin: 4px;
}

#divFooter {
    grid-area: j;
    padding: 2px;
    margin: 4px;
}